body{
    margin: 0;
    
}

header{
    background-image: url(../imagens/Header\ Background.png);
    background-position: center center;
    background-size: cover;
    padding: 10px;
    width: 1250px;
    height: 459px;
    /*
    margin-right: 20px;
    margin-left: 20px;  */
   margin: auto;
   justify-content: center;
    

   }



.titulo{
    text-align: center;
    margin: 30px;
}
.texto{
    text-align: center;
}
.botao{
  display: flex;
  justify-content: center;
  gap: 40px;
  margin: 40px;
  

}
main{

}



.section01{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 10px;
    
}
.section02{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 10px;
    
}
.section03{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 10px;
    
}
.section04{
    text-align: center;
    gap: 20px;
    margin: 10px;
    
}
footer{
 
    background-color: black;
    text-align: center;
    justify-content: center;
    
}

@media screen  and (min-width: 320px){
  footer{
    width: 100vh;
 
    text-align: center;
    justify-content: center;
    align-items: center;
   

   
  }  
}


@media screen and (min-width: 320px){
    main .sectio01 .section02 .section03 .section04{
        display: block;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        
        
    }
}
@media screen  and (min-width: 320px){
    header  {
      width: 100%;
   flex-direction: column;
      display:flex;
      

    
   
    }  
  }